@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Lao&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: 'Noto Sans Lao', serif;
}

.absolute {
    position: absolute;
  }
  
  .relative {
    position: relative;
  }
  
  .top-0 {
    top: 0px;
  }
  
  .mx-4 {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  
  .flex {
    display: flex;
  }
  
  @keyframes marquee {
    0% {
      transform: translateX(0%);
    }
  
    100% {
      transform: translateX(-100%);
    }
  }
  
  .animate-marquee {
    animation: marquee 25s linear infinite;
  }
  
  @keyframes marquee2 {
    0% {
      transform: translateX(100%);
    }
  
    100% {
      transform: translateX(0%);
    }
  }
  
  .animate-marquee2 {
    animation: marquee2 25s linear infinite;
  }
  
  .overflow-x-hidden {
    overflow-x: hidden;
  }
  
  .whitespace-nowrap {
    white-space: nowrap;
  }
  
  .py-12 {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  
  .text-4xl {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
  